h1{
    font-size: 16px;
    color: #373e4a;
    text-align: center;
}
h2{
    font-size: 14px;
    color: #373e4a;
    text-align: center;
}
.content-body{
    width: 600px;
    height: 600px;
}

.book{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}